@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quicksand:wght@400;700&family=Roboto+Slab:wght@200&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/*Header*/
header {
    width: 90%;
    height: 67px;
    padding: 0 5%;
    background: rgba(91, 75, 138, 0.9);
    display: flex;
    align-items: center;
}

header p {
    margin: 0%;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    padding: 0%;
    color: white;
}

header #nama_penumpang {
    font-weight: 700;
    font-size: 14px;
    margin-right: 1em;
}

header .right-side {
    justify-content: flex-end;
    display: flex;
    width: 50%;
    float: right
}

#logo {
    width: 50%;
}

#keluar {
    background: #FF1515;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
    border: 0;
    color: white;
}

/*Content*/
.content{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 5%;
    margin-left: 5%;
    background-color: #7858A6 ;
    margin-top: 7%;
    margin-bottom: 7%;
    padding: 1em 2em;
    font-weight: 700;
    font-size: 14px;
    color: white;
}

.field-wrap {
    background: white;
    color: black;
    padding: 1em 2em;
    border-radius: 15px;
}

.split {
    display: flex;
}

.space {
    margin-right: 3em;
}

.sub-content {
    width: 48%;
}

.border-top {
    border-top: 1px solid black;
    padding-top: 1em;
}

.right {
    position: absolute;
    right: 8%;
}

#konfirmasi-pembayaran {
    margin-top: 3em;
    height: 5em;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.button {
    border: 0;
    background: #f2f2f2;
    padding: 1em 2em;
    color: #5B4B8A;
    font-weight: 800;
    text-align: center;
    border-radius: 15px;
}

a {
    text-decoration: none;
}

/*Footer*/
.footer {
    position:relative;
    float: left;
    width: 70%;
    height: 67px;
    padding: 0 15%;
    background: rgba(91, 75, 138, 0.9);
}
