@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quicksand:wght@400;700&family=Roboto+Slab:wght@200&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/*Header*/
header {
    width: 90%;
    height: 67px;
    padding: 0 5%;
    background: rgba(91, 75, 138, 0.9);
    display: flex;
    align-items: center;
}

header p {
    margin: 0%;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    padding: 0%;
    color: white;
}

header #nama_penumpang {
    font-weight: 700;
    font-size: 14px;
    margin-right: 1em;
}

header .right-side {
    justify-content: flex-end;
    display: flex;
    width: 50%;
    float: right
}

#logo {
    width: 50%;
}

#keluar {
    background: #FF1515;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
    border: 0;
    color: white;
}

/*Content*/
.content{
    position: relative;
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
    background-color: #7858A6 ;
    margin-top: 7%;
    margin-bottom: 7%;
    padding: 15px 15px 80px 15px;
    color: white;
}

.field-wrap {
    position:relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.field-wrap input {
    width: 70%;
    border: 0;
    background: #f2f2f2;
    padding: 5%;
}

.radio-box {
    display: flex;
    margin: 16px 0;
}

.radio-box input {
    width: fit-content;
}

.button {
    border: 0;
    width: 30%;
    background: #f2f2f2;
    padding: 1em 22%;
    margin: 35px auto 18px auto;
    color: #5B4B8A;
    font-weight: 800;
    text-align: center;
}

#cari-tiket {
    position: relative;
    width: 70%;
    margin-top: 5em;
}

a {
    text-decoration: none;
}

/*sub-content*/
.sub-content {
    width: 33%;
}

/*Footer*/
.footer {
    position:relative;
    float: left;
    width: 70%;
    height: 67px;
    padding: 0 15%;
    background: rgba(91, 75, 138, 0.9);
}
