@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quicksand:wght@400;700&family=Roboto+Slab:wght@200&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/*Header*/
header {
    width: 90%;
    height: 67px;
    padding: 0 5%;
    background: rgba(91, 75, 138, 0.9);
    display: flex;
    align-items: center;
}

header p {
    margin: 0%;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    padding: 0%;
    color: white;
}

/*Content*/
.content{
    display: flex;
    flex-direction: column;
    margin-right: 30%;
    margin-left: 30%;
    background-color: #7858A6 ;
    margin-top: 10%;
    margin-bottom: 10%;
    padding:15px 20px;
    border-radius: 2%;
    color: white;
}

.field-wrap {
    position:relative;
    float: left;
}

.field-wrap input {
    width: 94%;
    border: 0;
    background: #f2f2f2;
    padding: 3%;
}

.button {
    border: 0;
    width: 30%;
    background: #f2f2f2;
    padding: 3%;
    margin: 35px auto 18px auto;
    color: #5B4B8A;
    font-weight: 800;
    text-align: center;
}

a {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

/*Footer*/
.footer {
    width: 70%;
    height: 67px;
    padding: 0 15%;
    background: rgba(91, 75, 138, 0.9);
}
